  .color-text {
    color: orange;
  }
h5 {
  color: lightgray;
}
 h4 {
    color: orange;
  }
  h3 {
    font-size: 16px;
    font-family: Bungee Hairline;
  }
  #Container {
     margin: 25px 50px;
     background-repeat: no-repeat;
     background-size: 1024px 968px;   
   }
  button {
     margin: 5px 5px;
   }
  
  
