* {
	box-sizing: border-box;
}
.header {
	background-color: #f1f1f1;
	padding: 15px;
}
#container {
	overflow:auto;
	background: rgb(2,0,36);
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(74,82,82,0.9948354341736695) 92%, rgba(78,94,94,1) 100%);
	color: white;
}
.menu {
	float: left;
	width: 20%;
}
.menuitem {
	padding: 8px;
	margin-top: 7px;
	border-bottom: 1px solid #f1f1f1;
}
.main {
	float: left;
	width: 60%;
	padding: 20px;
	overflow: hidden;
}
.project_item {
	padding-right: 10px;
	display: flex;
	width: 60%;
}
.project_item_disc{
	padding-left: 25px;
	padding-top: 65px;
}
.item_image {
	width: 255px;
	height: 350px;
}
.images {
	width: 30%;
}
#profile_image {
	border: 6px solid #f1f1f1;
	border-radius: 100%;
}
.right {
	float: left;
	width: 20%;
	padding: 10px 15px;
	background-color: black;
	opacity: 0.5;
}
.container {
	width: 100%;
	padding-bottom: 5px;
}
.skills {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	color: white;
	background-color: #506F9E;
}
.html {
	width: 100%;
}
.css {
	width: 85%; 
}
.js {
	width: 95%; 
}
.php {
	width: 95%;	
}
.java {
	width: 93%;
}
.c_plus {
	width: 50%;	
}
.sql {
	width: 98%;	
}
.android {
	width: 90%;	
}
.footer {
	background-color: #f1f1f1;
	text-align: center;
	padding: 10px;
	margin-top: 7px;
	font-size: 14px;
}
@media only screen and (max-width: 650px) {
  /* For mobile phones */
  .menu, .main, .right, .projects, .project_item {
    width: 100%;
	display: block;
  }
}