/* Compose body*/
body {
    height: 100%;
    margin: 0;
	background-image: url(https://raw.githubusercontent.com/RobCM/Websites/master/Local%20Weather/backimage.jpg);	
	background-position: center;
	background-repeat: no-repeat;
}
/* Container */
#container_div {
    margin: 80px auto;	
	width: 600px;
	height: 600px;
	background-color: #90c7db;
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(94,129,155,0.9107843821122199) 0%, rgba(144,199,219,1) 74%, rgba(0,212,255,1) 100%);
	/* Make container as a circle shape */
	border-radius: 300px;
	/* Object shadow */
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* */
#child_div{
	position: absolute;
	margin-top: 85px;
	width: 575px;
}
/* Banner text*/
h{
    font-size: 65px;
    font-family: Sacramento;
    color: #006680;
}
h3{
    font-size: 35px;
    color: #006680;
}
/* Buttons look*/
.btn {
    background-color: #006680; 
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.button1 {
    border-radius: 5%;
}
.button2 {
    border-radius: 5%;
}
