.container-fluid 
{
  max-width: 1200px;
}

@media screen and (min-width: 450px) 
{
  .container-fluid 
  {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
/*page background!*/
body{
  background: linear-gradient(110deg, #f7e897 30%, #e7e3cc 30%);
}
h2 {
    font-size: 40px;
    font-family: Slackey;
    color: #a89c99; 
  }
h5{
  font-size: 4px;
}
h6 {
   color: #a89c99;
}
#qoutes {
  margin-left: 55px
}
/* Div looks*/
#body {
    border-style: none;
    background: #EDD97C;
    width: 620px;
    height: 270px;
    border-radius: 100px 100px / 220px;
  /* Object shadow*/
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#qoutes {
   font-size: 25px;
   margin: 10px 45px;
   font-family: Kavivanar;
   color: #a89c99; 
}
/*Image values for the quotes author*/
#authorImage{
    width: 100px;
    height: 100px;
    margin: 10px 45px;
    background: #7fee1d;
    border-radius: 60px; 
}
/* Button position*/
#gq{
    margin: 1px 430px;
}
/* Button looks*/
.btn {
     background-color: #a89c99; 
     border: none;
     padding: 9px 5px;
     color: #EDD97C;
     font-size: 17px;
  /* Object shadow*/
  box-shadow: 0 9px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
